:root {
    --cor1: #4ab5ca;
    --cor2: #16dac6;
    --cor3: #23c587;
    --cor4: #0cf259;
    --cor5: #15eb20;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-color: white;
    background: linear-gradient(to left, var(--cor2) 30%, var(--cor4) 80%);
    background-size: cover;
}

a{
    text-decoration: none;
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: white;
    border: 1px solid var(--cor4);
    padding: 7.5px;
    max-width: 200px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: var(--cor2);
    color: rgb(0, 0, 0);
}

.box{
    color: #323232;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    border-radius: 15px;
    max-width: 700px;

}

fieldset{
    border: 3px solid #0cf259;
    padding: 5px;
}

legend{
    border: 1px solid #0cf259;
    padding: 6px;
    text-align: center; /*alinhar centro*/
    background-color: #0cf259;
    border-radius: 8px;
    
}

.inputBox{
    position: relative;
    padding: -10px;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid  #323232;
    outline: none;
    color: #323232;
    font-size: 11px;
    width: 100%;
    letter-spacing: 2px; /*aumenta espaçamento caracter*/
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{ /*joga os input pra cima*/
    top: -20px;
    font-size: 12px;
    color: #0cf246;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px; /*aumenta a fonte*/
}

#submit{
    background-color: #0cf259; 
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 22px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-color: var(--cor5);
}